.gun_both {
  position: absolute;
  top: 196px;
  left: -25px;
}
.gun_both:hover {
  background-image: records1_second-03.png
}


.center {
  position: absolute;
  top: 196px;
  left: 420px;
}

.pale {
  position: absolute;
  top: 196px;
  left: 865px;
}

.stripe {
  position: absolute;
  top: -189px;
  left: 197px;
}

.red {
  position: absolute;
  top: -189px;
  left: 642px;
}

.sky {
  position: absolute;
  top: 581px;
  left: 197px;
}

.crowd {
  position: absolute;
  top: 581px;
  left: 642px;
}
