body {
  background-color: black;
  overflow: hidden;
}
@keyframes flip-active {
  100% { transform: rotatey(0.0turn); transform: rotatey(1.0turn); }
}
@keyframes enlarge {
    100% {transform: scale(1, 1); transform:scale(1.1, 1.1)}
  }


.top {z-index: 0.8;}
.between {z-index: 0}
.between:hover {z-index:1; }
.bottom {z-index: -1;}
.enlarge:hover {animation:enlarge 2s ease;}

/*CENTER*/
.center {
  position: absolute;
  top: 196px;
  left: 420px;
  animation:flip-active 10s linear infinite;
}





/*GUN*/
.gun {
  position: absolute;
  top: 196px;
  left: -25px;

}
.gun:hover {
  opacity: 0;
}

/*SKY*/
.sky {
  position: absolute;
  top: 581px;
  left: 197px;
}
.sky:hover {
  opacity: 0;
}


/*PALE*/
.pale {
  position: absolute;
  top: 196px;
  left: 865px;
}
.pale:hover {
  opacity: 0;
}

/*STRIPE*/
.stripe {
  position: absolute;
  top: -189px;
  left: 197px;
}
.stripe:hover {
  opacity: 0;
}

/*RED*/
.red {
  position: absolute;
  top: -189px;
  left: 642px;
}
.red:hover {
  opacity: 0;
}

/*CROWD*/
.crowd {
  position: absolute;
  top: 581px;
  left: 642px;
}
.crowd:hover {
  opacity: 0;
}
