@keyframes spin {
  100% { transform: rotate(360deg); transform:rotate(360deg); } }

.gun {
  position: absolute;
  top: 196px;
  left: -25px;
  z-index: 1;
  animation:spin 8s linear infinite;
}
.gun:hover {
  opacity: 0;
}
.art_gun {
  position: absolute;
  top: 196px;
  left: -25px;
}



.center {
  position: absolute;
  top: 196px;
  left: 420px;
}

.pale {
  position: absolute;
  top: 196px;
  left: 865px;
}

.stripe {
  position: absolute;
  top: -189px;
  left: 197px;
}

.red {
  position: absolute;
  top: -189px;
  left: 642px;
}

.sky {
  position: absolute;
  top: 581px;
  left: 197px;
}

.crowd {
  position: absolute;
  top: 581px;
  left: 642px;
}
