body {
  background-color: black;
  overflow: hidden;
}

@keyframes spin {
  100% { transform: rotate(360deg); transform:rotate(360deg); } }

/*CENTER*/
  .center {
    position: absolute;
    top: 196px;
    left: 420px;
  }

/*GUN*/
.gun {
  position: absolute;
  top: 196px;
  left: -25px;
  z-index: 1;
  animation:spin 10s linear infinite;
}
.gun:hover {
  opacity: 0;
}
.art_gun {
  position: absolute;
  top: 196px;
  left: -25px;
}

/*SKY*/
.sky {
  position: absolute;
  top: 581px;
  left: 197px;
  z-index: 1;
  animation:spin 10s linear infinite;
}
.sky:hover {
  opacity: 0;
}
.art_sky {
  position: absolute;
  top: 581px;
  left: 197px;
}


/*PALE*/
.pale {
  position: absolute;
  top: 196px;
  left: 865px;
  z-index: 1;
  animation:spin 10s linear infinite;
}
.pale:hover {
  opacity: 0;
}
.art_pale {
  position: absolute;
  top: 196px;
  left: 865px;
}

/*STRIPE*/
.stripe {
  position: absolute;
  top: -189px;
  left: 197px;
  z-index: 1;
  animation:spin 10s linear infinite;
}
.stripe:hover {
  opacity: 0;
}
.art_stripe {
  position: absolute;
  top: -189px;
  left: 197px;
}

/*RED*/
.red {
  position: absolute;
  top: -189px;
  left: 642px;
  z-index: 1;
  animation:spin 10s linear infinite;
}
.red:hover {
  opacity: 0;
}
.art_red {
  position: absolute;
  top: -189px;
  left: 642px;
}

/*CROWD*/
.crowd {
  position: absolute;
  top: 581px;
  left: 642px;
  z-index: 1;
  animation:spin 10s linear infinite;
}
.crowd:hover {
  opacity: 0;
}
.art_crowd {
  position: absolute;
  top: 581px;
  left: 642px;
}
